.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  float: left;
  width: 120px;
  height: 100vh;
  margin: 2px 40px 0px 0px;
  position: relative;
}

.logo > img {
  width: 120px;
  height: 60px;
  position: absolute;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}

.d-none {
  display: 'none' !important;
}

.antd-table {
  border-radius: 2px 2px 0 0;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
  display: none !important;
}

td,
th {
  border-left: 1px solid #f0f0f0;
}

.ant-table-thead > tr > th {
  background: #b2e4f5 !important; /* fallback for old browsers */
}

.antd-table tr:nth-child(2n) td {
  background-color: #e3e9ec;
}
